.selling-container {
    padding: 20px;
    margin-bottom: 4rem;
    justify-content: center;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .products-list {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(6, 1fr); 
    justify-content: center;
    text-align: center;
  }

  .products-list .msg{
    width: 98%;
    text-align: center;
    position: absolute;
  }
  
  .product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .product-card p {
    margin: 5px 0;
    color: #555;
  }
  
  @media (max-width: 1024px) {
    .products-list {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .products-list {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  