.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    z-index: 999;
    position: relative;
    font-family: Arial, sans-serif;
}

.navbar-logo img {
    height: 40px;
}

.navbar-logout img{
    width: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 0.3rem;
}

.navbar-link:hover {
    background-color: #555;
    color: #ffffff;
}

.navbar-link.active,
.bottom-navbar-link.active {
  color: #000000;
  background-color: #e4e1ee; 
  border-radius: 4px;
  font-weight: bold;
}

.navbar-logout {
    position: relative;
    display: inline-block;
  }
  
  .navbar-logout {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }


  .dropdown {
    position: absolute;
    display: flex;
    transform: translateX(-70%);
    background-color: rgb(250, 250, 250);
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    padding: 10px;
  }
  
  .navbar-logout:hover .dropdown {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
  
  .drop-link {
    margin: 0%;
    width: 100%;
    padding: 10px 40px;
  }

  .log-link {
    margin: 0%;
    width: 100%;
    background-color: red;
    margin-top: 0.5rem;
    padding: 10px 40px;
  }
  
  .drop-link:hover {
    background-color: #222;
  }

  .log-link:hover {
    margin: 0%;
    width: 100%;
    background-color: rgb(194, 2, 2);
    margin-top: 0.5rem;
  }

  .dropdown-list li{
    margin: 5px;
    list-style: none;
  }

  .log-box{
    background-color: white;
    padding: 40px 30px 20px 30px;
    border-radius: 0.3rem;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .log-box p{ 
    margin: 5px;
  }

  .log-buttons{
    margin-top: 1rem;
    justify-content: space-evenly;
    display: flex;
  }

  .yes-btn{
    padding: 8px 30px;
  }

  .no-btn{
    background-color: red;
    padding: 8px 30px;
  }

  .no-btn:hover{
    background-color: rgb(185, 3, 3);
  }

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 60px;
        background-color: #333;
        padding: 1rem 0rem;
        gap: 0.5rem;
        height: 100vh;
        right: 0%;
    }

    .navbar-links.open {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .navbar-links {
        display: flex;
    }
}


.bottom-navbar {
    display: flex;
    justify-content:space-evenly;
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 999;
}

.bottom-navbar-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.9rem;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {

    .bottom-navbar {
        display: flex;
    }
}

